.introduction, .introductionSpa {
    background-image: url("../images/background0.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: grid;
    grid-template-rows: 8% 89%;
    height: 630px;
    width: 100%;
}

.denNameRole {
    justify-self: center;
    align-self: center;
    margin: 80px;
    width: 60%;
}

.changeLanguage {
    background: rgba(255,255,255,0.8);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    font-size: 12px;
    font-weight: bold;
    justify-self: end;
    margin-right: 15px;
    padding: 5px;
    text-align: center;
    width: auto;
}

.links {
    text-decoration: none;
    color: #000000;
}

.myInfoContainer {
    display: grid;
    margin-top: 100px;
    grid-template-columns: 30% 67%;
    color: #000000;
    padding: 10px;
}

.aboutImage, .acercaImage {
    align-self: center;
    grid-column-start: 1;
    width: 95%;
    padding: 8px;
}

.aboutDescrip, .acercaDescrip {
    align-self: center;
    background: rgba(255,255,255,0.6);
    border-radius: 12px;
    font-size: 22px;
    grid-column-start: 2;
    padding: 30px;
    text-align: justify;
    width: 96%;
}

.mySkillsContainer {
    display: grid;
    margin-top: 100px;
    grid-template-columns: 67% 30%;
    color: #000000;
    padding: 10px;
}

.skillsImage {
    align-self: center;
    grid-column-start: 2;
    justify-self: end;
    width: 95%;
    padding: 8px;
}

.mySkills {
    align-self: center;
    background: rgba(255,255,255,0.6);
    border-radius: 12px;
    font-size: 22px;
    grid-column-start: 1;
    padding: 20px;
    text-align: justify;
    width: 96%;
}

.skillsIcons {
    width: 19%;
}

.skillsIcons:hover {
    width: 21%;
}

.myProjectsContainer {
    display: grid;
    margin-top: 100px;
    grid-template-columns: 35% 62%;
    color: #000000;
    justify-self: end;
}

.projectsImage {
    align-self: center;
    grid-column-start: 1;
    justify-self: end;
    width: 95%;
    padding: 8px;
}

.sliderContainer {
    max-width: 95%;
    border: 10px solid white;
    margin: 50px auto;
    padding: 8px;
    position: relative;
}

.sliderContainer .leftSlide, .sliderContainer .rightSlide {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgba(0,0,0,0.9);
    border-radius: 50%;
    top: 40%;
    text-align: center;
    line-height: 36px;
    transition: all .5s ease;
}

.sliderContainer .leftSlide:hover, .sliderContainer .rightSlide:hover {
    background-color: #E3A384;
}

.sliderContainer .leftSlide {
    left: 30px;
}

.sliderContainer .rightSlide {
    right: 30px;
}

.sliderContainer .sliderItems .item img {
    max-width: 100%;
}

.sliderContainer .sliderItems .item .caption {
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0px;
    left: 0px;
    font-size: 15px;
    padding: 20px 0px;
    text-align: center;
}

.slideDescription {
    margin-bottom: 10px;
}

.buttonsContainer {
    margin-top: 10px;
}

.codeButton, .demoButton {
    text-decoration: none;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #E3A384;
    padding: 5px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

