.introduction, .introductionSpa {
    background-image: url("../images/background0.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: grid;
    grid-template-rows: 8% 90%;
    height: 620px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.denNameRole {
    justify-self: center;
    align-self: center;
    margin: 80px;
    width: 60%;
}

.changeLanguage {
    align-self: center;
    background: rgba(255,255,255,0.7);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    justify-self: end;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
    width: auto;
}

.links {
    text-decoration: none;
    color: #000000;
}

.myInfoContainer {
    display: grid;
    grid-template-columns: 32% 68%;
    padding: 2px;
    width: 99%;
}

.aboutTitle {
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-size: 10vw;
    align-self: center;
    text-align: left;
    justify-self: stretch;
    grid-column-start: 1;
    padding: 4px;
    width: 95%;
}

.aboutDescrip {
    align-self: center;
    color: #FFFFFF;
    justify-self: stretch;
    background: rgba(0,0,0,0.8);
    border-radius: 12px;
    font-size: 1.8vw;
    font-family: 'Open Sans Condensed', sans-serif;
    grid-column-start: 2;
    padding: 20px;
    text-align: justify;
}

.mySkillsContainer {
    display: grid;
    grid-template-columns: 68% 32%;
    padding: 6px;
}

.skillsTitle {
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-size: 10vw;
    align-self: center;
    text-align: right;
    justify-self: stretch;
    grid-column-start: 2;
    padding: 4px;
    width: 95%;
}

.mySkillsList {
    align-self: center;
    background: rgba(0,0,0,0.8);
    border-radius: 12px;
    font-size: 1.8vw;
    grid-column-start: 1;
    justify-self: stretch;
    padding: 20px;
    text-align: center;
    width: 96%;
}

.skillsIcons {
    width: 17%;
}

.skillsIcons:hover {
    width: 19%;
}

.myProjectsContainer {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 32% 68%;
    padding: 10px;
}

.projectsTitle {
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-size: 10vw;
    align-self: center;
    text-align: left;
    justify-self: stretch;
    grid-column-start: 1;
    padding: 4px;
    width: 95%;
}

.sliderContainer {
    max-width: 95%;
    border: 10px solid white;
    margin: 30px auto;
    padding: 8px;
    position: relative;
}

.sliderContainer .sliderItems .item img {
    max-width: 100%;
    position: relative;
}

.sliderContainer .sliderItems .item {
    position: relative;
    margin-top: 10px;
    margin-bottom: 25px;
}

.sliderContainer .sliderItems .item .caption {
    background-color: #000000;
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0px;
    left: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 21px;
    padding: 20px 0px;
    text-align: center;
}

.slideDescription {
    margin-bottom: 10px;
}

.buttonsContainer {
    margin-top: 15px;
}

.codeButton, .demoButton {
    text-decoration: none;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #fc6767;
    padding: 7px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}

.contactMeContainer {
    display: grid;
    margin-top: 5px;
    grid-template-columns: 64% 36%;
    padding: 5px;
    text-align: center;
}

.contactMeList {
    align-self: center;
    background: rgba(0,0,0,0.8);
    border-radius: 12px;
    font-size: 1.8vw;
    grid-column-start: 1;
    justify-self: stretch;
    padding: 25px;
    text-align: center;
    width: 96%;
}

.contactMeTitle {
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-size: 8vw;
    align-self: center;
    text-align: right;
    justify-self: stretch;
    grid-column-start: 2;
    padding: 4px;
    width: 95%;
}

.contactIcon {
    align-self: center;
    width: 15%;
    margin: 10px 20px 10px 20px;
}

.contactIcon:hover {
    width: 16%;
}
