.introduction, .introductionSpa {
    background-image: url("../images/background0.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: grid;
    grid-template-rows: 8% 89%;
    height: 630px;
    width: 100%;
}

.denNameRole {
    justify-self: center;
    align-self: center;
    margin: 80px;
    width: 60%;
}

.changeLanguage {
    background: rgba(255,255,255,0.8);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    font-size: 12px;
    font-weight: bold;
    justify-self: end;
    margin-right: 15px;
    padding: 5px;
    text-align: center;
    width: 8%;
}

.links {
    text-decoration: none;
    color: #000000;
}

.myInfoContainer {
    display: grid;
    margin-top: 100px;
    grid-template-columns: 40% 57%;
    color: #FFFFFF;
}

.aboutImage, .acercaImage {
    grid-column-start: 1;
    width: 80%;
    padding: 10px;
}

.aboutDescrip, .acercaDescrip {
    align-self: center;
    background: rgba(0,0,0,0.8);
    font-size: 22px;
    grid-column-start: 2;
    padding: 30px;
    text-align: justify;
    width: 96%;
}

.mySkillsContainer {
    display: grid;
    margin-top: 100px;
    grid-template-columns: 57% 40%;
    color: #FFFFFF;
}

.skillsImage {
    grid-column-start: 2;
    justify-self: end;
    width: 80%;
    padding: 10px;
}

.mySkills {
    align-self: center;
    background: rgba(0,0,0,0.8);
    font-size: 19px;
    grid-column-start: 1;
    padding: 20px;
    text-align: justify;
    width: 96%;
}

.denPhoto {
    align-self: center;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    width: 85%;
}

/*.firstS {
    background-attachment: fixed;
    background-image: url("Images/backgoundbw.png");
    background-position: center center;
    background-size: cover;
    height: 110%;
    width: 100%;
    background: rgba(255,255,255,0.3);
    border: 1px solid #FFFFFF;
    border-radius: 6px; #73344B #BF849A  #262022 #025930  #038C3E */