body {
  /* background: #000000; */
  background-image: url("./images/background.svg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.denLogo {
  width: 90px;
}

footer {
  background-color: #FA6B55;
  color: #FFFFFF;
  height: auto;
  margin-top: 20px;
  padding: 30px;
  text-align: center;
  width: auto;
}

